body {
  margin: 0;
  padding: 0;
  background-color: #21252b;
}
#root,
.App {
  min-width: 100%;
  min-height: 100%;
}

.App {
  /* position: fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%; */
}

.App-header {
  /* width: 300px; */
  padding: 30px;
  /* height: 50px; */
  background-color: #282c34;
  color: white;
}

.App-main {
  padding: 50px;
}
