body {
  margin: 0;
  padding: 0;
}
#root,
.App {
  min-width: 100%;
  min-height: 100%;
}

.App {
  /* position: fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%; */
}

.App-header {
  float: left;
  width: 300px;
  background-color: #282c34;
  color: white;
}

.App-main {
  margin-left: 300px;
}
